@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.auth-container {
    background-color: var(--auth-bgc-grey);
    padding: 40px 0;
    min-height: 100vh;

    .inner {
        width: 600px;
        max-width: calc(100% - 24px);
        margin: auto;
        padding: 40px 24px;
        background-color: #fff;
        border-radius: 4px;
    }
}

// Mobile
@media (max-width: 767px) {
    .auth-container {
        padding: 0;

        .inner {
            padding: 24px;
            max-width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    }
}
