@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.container {
    display: flex;
    align-items: center;
    column-gap: 8px;

    .search-bar {
        display: flex;
        align-items: center;
        flex: 1;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 99px;
        overflow: hidden;

        & * {
            color: #666;
        }

        .search-input {
            max-width: 100%;
            color: #000;
            font-size: 1.5rem;
            line-height: 1.6;
            flex: 1;
            height: 100%;
            border-radius: 99px 0 0 99px;
            padding: 0 20px;
            cursor: text;
        }

        .keyboard {
            font-size: 20px;
            padding: 0 8px;
            height: 100%;
            background-color: #fff;
            cursor: pointer;
        }

        .clear {
            font-size: 20px;
            padding: 0 8px;
            height: 100%;
            border-radius: 50%;
            background-color: #fff;
            display: grid;
            place-items: center;

            &.hide {
                display: none;
            }

            &:hover {
                cursor: pointer;
                background-color: #ebebeb;
            }
        }

        .magnify {
            font-size: 20px;
            border-radius: 0 99px 99px 0;
            height: 100%;
            border-left: 1px solid #ccc;
            cursor: pointer;
        }
    }
}

.search-result-tooltip {
    overflow: auto;
    max-height: calc(100vh - 200px);
    width: 540px;
    max-width: calc(100% - 24px);
    color: black;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;

    .search-result-container {
        .short-search-result {
            margin-top: 12px;
            display: flex;
            border: 1px dashed var(--primary-color);
            padding: 8px;
            column-gap: 12px;
            cursor: pointer;

            &:hover {
                border-style: solid;
            }

            &:first-child {
                margin-top: 0;
            }

            .product-name-desc {
                flex: 1;
                column-gap: 8px;

                .product-name {
                    @include line-clamp;

                    font-size: 1.6rem;
                    line-height: 1.5;
                    font-weight: 600;
                    color: var(--green-color-01);
                    word-break: break-all;
                }

                .product-desc {
                    --line-clamp: 4;
                    @extend .product-name;

                    padding: 4px 4px 0 0;
                    background-color: transparent;
                    color: #222;
                    font-size: 1.4rem;
                    line-height: 1.4;
                    font-weight: 300;
                    word-break: break-all;
                    overflow: hidden;
                    border: 1px solid transparent;
                    word-break: break-word;
                }
            }

            .product-image {
                flex-basis: 30%;
                height: 108px;
                object-fit: contain;
            }
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.search-result-tooltip::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-result-tooltip {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.not-found-result {
    text-align: center;

    &.hide {
        display: none;
    }
}

// Tablet + Mobile
@media (max-width: 991px) {
    .container {
        .search-bar {
            .keyboard {
                display: none;
            }

            .magnify {
                display: none;
            }
        }
    }
}
